
.listitems {
    display: flex;
    justify-content: center;
    align-items: center;
}
.listitem-list {
    
        list-style: none;
        margin: 0;
        padding: 0;
        min-width: 100%;
    
}