.items li {
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;
    height: 40px;
    text-align: center;
   padding: 0rem 0.5rem;
    display: inline-block;
    transition: 0.2s linear;
    font: 1rem;
    list-style: none;
    width: 100%;
}
.items {
    margin: 0.5rem;
    background: #ffffff;
    font-size: 1rem;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.completed { 
    text-decoration: line-through;
    opacity: 0.5;;
}
.fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
}