body {
  margin: 0;
  padding: 0;
  background-color: #1A004A !important;
    display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff !important;
  font-family: sans-serif;
}
.App header {
text-align: center;  
padding: 20px 0px;
  
}

.error {
  padding: 20px 0px 0px 0px;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  
}
